@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    font-family: "Poppins"
}

body::-webkit-scrollbar {
    display: none;
}

#email-input::-webkit-input-placeholder {
    color: #737373
}